<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sqlDb" connectionString="data source=.\db\SQLiteContextDb.db" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="BaiduAppID" value="24484507"/>
    <!--百度APIKey-->
    <add key="BaiduAPIKey" value="GdON97ClaP5HywEnZI6guXTD"/>
    <!--百度SecretKey-->
    <add key="BaiduSecretKey" value="Un8bhDnmBHi2WGnPOIkA5R92MgeQpoEq"/>
    <!--百度当前用户组-->
    <add key="BaiduCurrentGroup" value="Under80"/>
    <!--百度当前用户组-->
    <add key="BaiduHistoryGroup" value="Under80"/>

  </appSettings>
</configuration>